%div.footer
  %div.footer__search-recipe
    %h5 レシピをさがす
    %ul
      %li カテゴリ一覧
      %li 専門家が選んだ目的別レシピ
      %li プロのレシピ
      %li 話題のレシピ
      %li 殿堂入りレシピ
      %li 人気の検索キーワード
      %li 新着レシピ
      %li 新着つくれぽ
      %li ピックアップレシピ
      %li デイリーアクセス数ランキング
      %li 料理動画
      %li おすすめ特集 [広告]
      %li メーカーのこだわりレシピ [広告]
      %li cookpad TV [Facebook]
      %li 教えておすすめレシピ
  %div.footer__write-recipe-kondate
    %h5 レシピを書く
    %ul
      %li レシピを書く
      %li レシピの書き方について
      %li 企業・団体キッチンの登録
    %h5 献立
    %ul
      %li みんなの献立
      %li プレミアム献立
  %div.footer__cooking-class
    %h5 料理教室
    %ul
      %li クックパッド料理教室
      %li 教室募集
  %div.footer__recommended-premium
    %h5 おすすめ
    %ul
      %li メールマガジン
      %li モバイルサービス
      %li 有名人・団体 公式キッチン
      %li クックパッドニュース
      %li クックパッドのレシピ本
      %li 料理の基本
      %li クックパッドブログ
    %h5 プレミアムサービス
    %ul
      %li プレミアムサービス
      %li 会員限定クーポン＆プレゼント
      %li プレミアムクーポン
      %li プレミアムパス
  %div.footer__my-page-life
    %h5 あなたのページ
    %ul
      %li MYキッチン
      %li MYフォルダ
      %li MYニュース
      %li 最近見たレシピ
      %li 登録情報
    %h5 くらし・ライフイベント
    %ul
      %li 妊娠・育児・子育て
      %li 習い事・資格取得
%div.copyright
  %div.copyright__support
    %h5 サポート
    %ul
      %li ヘルプ
      %li 機種変更ガイド
      %li 料理を楽しむにあたって
      %li 利用規約
      %li リンクについて
  %div.copyright__company
    %h5 企業情報
    %ul
      %li 運営会社
      %li 情報セキュリティ基本方針
      %li プライバシーポリシー
      %li 投資家向け情報
      %li 研究者向け情報
      %li 広告掲載
      %li 採用情報
  %div.copyright__nation
    %h5 日本
    %ul
      %li Español
      %li English
      %li Indonesia
      %li العربية
      %li Việt Nam
      %li ไทย
      %li ...
  %div.copyright__sentence
    %p Copyright&copy; Cookpad Inc. All Rights Reserved