%div.head-wrapper
  %div.header
    %div.header__service
      %span サービス一覧
    %div.header__right
      %div.header__right--menulist
        %div.header__right--menulist--premium プレミアムサービス
        %div.header__right--menulist--user
          = image_tag("profile.png",:width => "24",:height => "24",:alt => "profile")
          %div.header__right--menulist--user--name クックOUFVYS☆
        %div.header__right--menulist--setting
          = image_tag("setting.png",:width => "24",:height => "24",:alt => "setting")