%div.head-wrapper
  %div.header
    %div.header__service
      %p サービス一覧
    %div.header__right
      %ul.header__right--menulist
        %li.header__right--menulist--premium プレミアムサービス
        %li.header__right--menulist--user クックOUFVYS☆
        %li.header__right--menulist--setting 設定