= render 'header'
%div.covered
  %div.upper
  %div.contents
    %div.mainmenu
      %div.mainmenu__recipe-relation-service
      %div.mainmenu__premium-service
      %div.mainmenu__life-relation-service
      %div.mainmenu__today
      %div.mainmenu__article
    %div.recipe
      %div.recipe__header
      %span.recipe__title
      %div.recipe__category
        %div.recipe__category--topic1
        %div.recipe__category--topic2
        %div.recipe__category--vegetable
        %div.recipe__category--meat
        %div.recipe__category--fish
        %div.recipe__category--rice
        %div.recipe__category--pasta
        %div.recipe__category--noodle
        %div.recipe__category--salad
        %div.recipe__category--soup
        %div.recipe__category--lunch
        %div.recipe__category--reception
        %div.recipe__category--sweet
        %div.recipe__category--pan
    %div.kondate
      %div.kondate__header
      %div.kondate__title
      %div.kondate__topic
      %div.kondate__morning
      %div.kondate__lunch
      %div.kondate__dinner
  = render 'footer'
%div.sidebar
  %div.sidebar__title
    %span 最近見たレシピ
  %div.sidebar__history



