=render 'header'
%div.covered
  =render 'upper'
  %div.contents
    %div.recipe-main
      %div.recipe-main__top
        %div.recipe-main__top--link
          %div.user-name
            %span «クックOUFVYS☆のレシピ
          %div.delete
            %span 削除
        %div.recipe-main__top--title
          %span タイトルを入力してください
        %div.recipe-main__top--image
          = image_tag("blank.png",:width => "280",:height => "383",:alt => "blank")
        %div.recipe-main__top--right
          %div.recipe-main__top--right--catch-copy
            %div.catch-copy
              %span クリックしてこのレシピのキャッチコピーを入力(検索結果にも表示されます)
            %div.author
              %span クックOUFVYS☆
            %div.material
              = image_tag("material.png",:width => "310",:height => "217",:alt => "material")
      %div.recipe-main__cooking-method
        %ul.all-method
          %li
            %div.header
              %span.num 1
              %span.left ←
              %span.right →
              %span.delete 削除
              %span.add 追加
            %div.image
              %span 写真をのせる
            %div.method
              %span クリックして作り方を入力
          %li
            %div.header
              %span.num 2
              %span.left ←
              %span.right →
              %span.delete 削除
              %span.add 追加
            %div.image
              %span 写真をのせる
            %div.method
              %span クリックして作り方を入力
          %li
            %div.header
              %span.num 3
              %span.left ←
              %span.right →
              %span.delete 削除
              %span.add 追加
            %div.image
              %span 写真をのせる
            %div.method
              %span クリックして作り方を入力
          %li
            %div.header
              %span.num 4
              %span.left ←
              %span.right →
              %span.delete 削除
              %span.add 追加
            %div.image
              %span 写真をのせる
            %div.method
              %span クリックして作り方を入力
      %div.recipe-main__memo
        %div.point
          %h3 コツ・ポイント
          %span クリックしてコツやポイントを入力
        %div.background
          %h3 このレシピの生い立ち
          %span クリックしてこのレシピが生まれたきっかけや経緯を入力
          %span 例）母から教わったレシピを、家族が好む甘めの味付けにアレンジしました
          %span 例）○○番組で紹介されたレシピを、家にある材料で簡単に作れるよう工夫しました
      %div.recipe-main__id-date
        %span レシピID : 4639067
        %span 公開日 : 未公開
        %span 更新日 : 17/07/26
    %div.right-contents
      %div.writing-method
        %div.title
          %div.left
            %span レシピの書き方
          %div.right
            %span サンプルはこちら
        %div.table
          %table.method
            %tr
              %th
                %i.fa.fa-angle-down
              %td
                レシピのタイトル
            %tr
              %th
                %i.fa.fa-angle-down
              %td
                レシピの写真
            %tr
              %th
                %i.fa.fa-angle-down
              %td
                レシピの紹介文
            %tr
              %th
                %i.fa.fa-angle-down
              %td
                材料・分量
            %tr
              %th
                %i.fa.fa-angle-down
              %td
                作り方
            %tr
              %th
                %i.fa.fa-angle-down
              %td
                コツ、ポイント
            %tr
              %th.last
                %i.fa.fa-angle-down
              %td.last
                レシピの生い立ち
      %div.release
        %div.tag
          / タグリストを後に追加
          %div.new-tag
            %span ＋新規カテゴリを追加
        %div.button
          = submit_tag "レシピを公開する", class: "release-button"


  = render 'footer'

%div.sidebar
  %div.sidebar__title
    %span 最近見たレシピ
  %div.sidebar__history
