.head-wrapper {
  width: calc(100% - 190px);
  @include clearfix;
  background-color: white;
  height: 35px;
  margin:0;
  .header {
    width: 970px;
    margin: 0 auto;
    &__service {
      padding-top: 12px;
      float: left;
      text-align: left;
      color: #986f4e;
      font-size: 13px;
    }
    &__right {
      // clear: both;
      display: flex;
      // display: inline;
      // background-color: blue;
      // text-align: right;
      float: right;
      margin: 0;
      padding: 0;
      &--menulist {
        // border: 1px solid red;
        list-style-type: none;
        font-size: 13px;
        line-height: 1px;
        display: inline-block;
        vertical-align: middle;
        padding-top: 6px;
        &--premium {
          text-align: right;
          display: inline-block;
          color: #ff8c1a;
          margin: 0;
          font-weight: bold;
        }
        &--user {
          display: inline-block;
          color: #330000;
          &--name {
            display: inline-block;
            padding-left: 5px;
            text-align: right;
            font-weight: bold;
          }
          &--new {
            display: inline-block;
            padding-left: 5px;
            text-align: right;
            .registration {
              text-decoration: none;
            }
            .registration:hover {
              text-decoration: underline;
            }
          }
        }
        &--setting {
          text-align: right;
          display: inline-block;
        }
        &--login {
          text-align: right;
          display: inline-block;
          .registration {
            text-decoration: none;
          }
          .registration:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.head-wrapper[title="logout"] {
  width: 100%;
}

.covered {
  width: calc(100% - 190px);
  background-color: #f7f3e8;
  float: left;
  z-index: 0;
  @include clearfix;

  .upper {
    // border: 1px solid red;
    margin: 0 auto;
    clear: both;
    height: 71px;
    width: 970px;
    &__logo {
      padding-top: 10px;
      float: left;
      &--num {
        display: inline;
        font-size: 14px;
        font-weight: bold;
        color: #ff9933;
        line-height: 0.8;
        float: left;
        position: absolute;
        top: 60px;
        left: 350px;
      }
      &--num[title="logout"] {
        position: absolute;
        top: 60px;
        left: 445px;
      }
    }
    &__form-cooking {
      // padding-left: 20px;
      margin-left: 10px;
      padding-top: 10px;
      float: left;
      display: inline;
      .cooking_form {
        border-radius: 3px;
        border-color: #d1c6a9;
        // padding: 6px 0 6px 5px;
        height: 29px;
        width: 210px;
      }
      .purpose {
        border-radius: 3px;
        border-color: #d1c6a9;
        height: 29px;
        width: 90px;
      }
      .search-button {
        font-size: 14px;
        width: 86px;
        height: 32px;
        border-style: none;
        line-height: 10px;
        border: 1px solid #cccccc;
        // background-color: buttonface;
        box-sizing: border-box;
        background: linear-gradient(to bottom, #ffffff, #ececec);
        cursor: pointer;
      }
    }
    &__myfolder {
      cursor: pointer;
      width: 65px;
      height: 54px;
      text-align: center;
      float: left;
      padding-top: 12px;
      margin-left: 10px;
      // border: 1px solid yellow;
      &--name {
        font-size: 10px;
      }
    }
    &__mynews {
      cursor: pointer;
      width: 65px;
      height: 54px;
      text-align: center;
      float: left;
      padding-top: 12px;
      // border: 1px solid red;
      &--name {
        font-size: 10px;
      }
    }
    &__write-recipe {
      text-align: center;
      padding-top: 12px;
      .recipe-button {
        font-size: 14px;
        width: 100px;
        height: 32px;
        border-style: none;
        line-height: 10px;
        border: 1px solid #cccccc;
        // background-color: buttonface;
        box-sizing: border-box;
        background: linear-gradient(to bottom, #ffffff, #ececec);
        cursor: pointer;
        background: linear-gradient(to bottom, #aec853, #8fa836);
        color: #ffffff !important;
      }
    }
  }

  .contents {
    width: 970px;
    margin: 0 auto;
    .mainmenu {
      // border: 1px solid red;
      border: 1px solid #ded5c0;
      height: 100%;
      width: 659px;
      // margin: 0 auto;
      @include clearfix;
      &__left {
        float: left;
        &--recipe {
          margin: 0 auto;
          &--title {
            background-color: #f7f3e8;
            font-size: 14px;
            font-weight: bold;
            width: 169px;
            // padding-left: 10px;
            display: block;
            color: #3c3c3c;
            padding: 5px 0 5px 10px;
            // border: 1px solid red;
          }
          &--services {
            font-size: 15px;
            width: 169px;
            padding-left: 10px;
            background-color: white;
            list-style: none;
            margin: 0px;
            line-height: 35px;
            .detail {
              line-height: 10px;
              text-align: right;
              font-size: 13px;
              padding: 0 8px 8px 0;
              // padding-right: 8px;
            }
          }
        }
      }
      &__today {
        width: 477px;
        height: 343px;
        float: left;
        background-color: white;
        // @include clearfix;
        border: 1px solid #f7f3e8;
        border-radius: 5px;
        &--image {
          .image {
            border-radius: 5px;
          }
          padding: 13px 0 0 13px;
        }
        &--date {
          background: #ff9933;
          width: 100px;
          height: 51px;
          color: white;
          text-align: center;
          margin: 4px 0 0 13px;
          padding: 5px 0 0 0;
          border-radius: 5px;
          float: left;
          .tiny {
            font-size: 13px;
            display: block;
          }
        }
        &--recipe {
          float: left;
          width: 330px;
          height: 52px;
          margin: 4px 0 0 10px;
          .title {
            color: #889b00;
            font-weight: bold;
            font-size: 18px;
          }
          .name {
            display: block;
            font-size: 12px;
            padding-left: 25px;
          }
        }
      }
    }
    .recipe {
      margin-top: 10px;
      height: 100%;
      width: 659px;
      border: 1px solid red;
      border-radius: 5px;
      border-top: 8px solid #889b00;
      &__header {
        background-color: white;
        padding: 10px 0 10px 10px;
        &--image {
          float: left;
        }
        &--title {
          color: #889b00;
          font-size: 22px;
        }
      }
      &__category {
        &--title {
          font-weight: bold;
          font-size: 14px;
          color: #3c3c3c;
          background-color: #f7f3e8;
          padding: 5px 0 5px 10px;
        }
        &--list {
          height: 100%;
          width: 659px;
          background-color: white;
          &--topic {
            @include clearfix;
            height: 125px;
            padding-top: 10px;
            &--left {
              float: left;
              width: 324px;
              &--image {
                float: left;
                padding: 10px 0 0 15px;
                .category-image {
                  border-radius: 5px;
                }
              }
              &--title {
                float: left;
                width: 204px;
                color: #845f4b;
                font-size: 18px;
                font-weight: bold;
                padding: 10px 0 0 7px;
              }
              &--body {
                float: left;
                padding: 3px 0 0 7px;
                font-size: 12px;
                color: #999999;
              }
            }
            &--right {
              float: left;
              width: 324px;
              &--image {
                float: left;
                padding: 10px 0 0 10px;
                .category-image {
                  border-radius: 5px;
                }
              }
              &--title {
                float: left;
                width: 204px;
                color: #845f4b;
                font-size: 18px;
                font-weight: bold;
                padding: 10px 0 0 7px;
              }
              &--body {
                float: left;
                padding: 3px 0 0 7px;
                font-size: 12px;
                color: #999999;
              }
            }
          }
          &--type {
            &--first {
              padding-left: 10px;
              display: flex;
              &--one {
                // border: 1px solid blue;
                width: 208px;
                height: 89px;
                list-style: none;
                &--title {
                  float: left;
                  width: 150px;
                  padding-left: 5px;
                }
                &--image {
                  float: left;
                }
                &--detail {
                  float: left;
                  display:table;
                  padding-left: 20px;
                  font-size: 12px;
                  &--l1 {
                    padding-top: 5px;
                  }
                }
                &--title {
                  font-weight: bold;
                  // border: 1px solid red;
                }
              }
            }
          }
          &--detail {
            display: block;
            text-align: right;
            font-size: 13px;
            font-weight: bold;
            padding: 0 10px 10px 0;
          }
        }
      }
    }
  }


  .footer {
    // border: 1px solid blue;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, sans-serif;
    line-height: 1.5;
    color: #3c3c3c;
    display: flex;
    justify-content: space-between;
    width: 970px;
    margin: 25px auto 0 auto;
    padding: 0 0 20px 0;
    text-align: left;
    background-color: #f7f3e8;
    h5 { margin:0; }
    ul {
      margin:0px;
      padding:0px;
      margin-bottom: 20px;
      li {
        font-size: 12.04px;
        list-style: none;
        line-height: 18.06px;
        // margin: 0;
        // padding: 0;
        // list-style-position:outside;
      }
    }
    &__search-recipe {
      // padding-left: 10px;
    }
    &__write-recipe-kondate {
    }
    &__cooking-class {
      // display: table-cell;
    }
    &__recommended-premium {
      // float: left;
      // display: table-cell;
    }
    &__my-page-life {
      // padding-right: 10px;
    }
  }

  .copyright {
    width: 970px;
    margin: 0 auto;
    h5 { margin:0; }
    ul {
      margin: 0px;
      padding: 0px;
      li {
        font-size: 12.04px;
        list-style: none;
        line-height: 18.06px;
        display: inline-block;
        // margin: 0;
        // padding: 0;
        // list-style-position:outside;
      }
    }
    &__sentence {
      font-size: 80%;
    }
  }
}

.covered[title="logout"] {
  width: 100%;
}

.sidebar {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, sans-serif;
  float: right;
  width: 190px;
  height: 100%;
  border-bottom: 1px solid #e3dcca;
  &__title {
    padding: 3px 5px 0px;
    text-align: left;
    margin: 0;
    background: #efe1be;
    height: 23px;
    font-weight: bold;
    font-size: 13px;
  }
}

#login {
  clear: both;
  width: 360px;
  height: 420px;
  background: #f7f3e8;
  border: 1px solid blue;
  position:fixed;
  z-index: 2;
  display:none;
  .covered {
    margin: 0 15px;
    padding: 0;
    width: 330px;
    height: 100%;
    h4 {
      border-bottom: 1px solid #D6D7B9;
    }
    .field {
      margin: 0 25px;
      width: 280px;
    }
    #user_email {
      width: 280px;
      height: 22px;
    }
    #user_password {
      width: 280px;
      height: 22px;
    }
    .actions {
      margin: 10px auto;
      width: 280px;
      // height: 67px;
      border: 1px solid red;
      .button {
        line-height: 20px;
        font-size: 20px;
        display: block;
        height: 42px;
        width: 280px;
        background-color: white;
      }
    }
  }
}

#setting {
  clear: both;
  width: 112px;
  height: 105px;
  background-color: red;
  position:fixed;
  z-index: 1;
  display:none;
  left: 1000px;
  top: 35px;
  .logout {
    width: 90px;
    height: 31px;
  }
}



