.head-wrapper {
  width: calc(100% - 190px);
  @include clearfix;
  background-color: white;
  height: 35px;
  margin:0;
  .header {
    width: 970px;
    margin: 0 auto;
    &__service {
      padding-top: 12px;
      float: left;
      text-align: left;
      color: #986f4e;
      font-size: 13px;
    }
    &__right {
      // clear: both;
      display: flex;
      // display: inline;
      // background-color: blue;
      // text-align: right;
      float: right;
      margin: 0;
      padding: 0;
      &--menulist {
        // border: 1px solid red;
        list-style-type: none;
        font-size: 13px;
        line-height: 1px;
        display: inline-block;
        vertical-align: middle;
        padding-top: 6px;
        &--premium {
          text-align: right;
          display: inline-block;
          color: #ff8c1a;
          margin: 0;
          font-weight: bold;
        }
        &--user {
          display: inline-block;
          color: #330000;
          &--name {
            display: inline-block;
            padding-left: 5px;
            text-align: right;
            font-weight: bold;
          }
          &--new {
            display: inline-block;
            padding-left: 5px;
            text-align: right;
            .registration {
              text-decoration: none;
            }
            .registration:hover {
              text-decoration: underline;
            }
          }
        }
        &--setting {
          text-align: right;
          display: inline-block;
        }
        &--login {
          text-align: right;
          display: inline-block;
          text-decoration: none;
          cursor: pointer;
          .registration {
            text-decoration: none;
          }
          .registration:hover {
            text-decoration: underline;
          }
        }
        &--login:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.head-wrapper[title="logout"] {
  width: 100%;
}

.covered {
  width: calc(100% - 190px);
  background-color: #f7f3e8;
  float: left;
  z-index: 0;
  @include clearfix;

  .upper {
    // border: 1px solid red;
    margin: 0 auto;
    margin-bottom: 10px;
    clear: both;
    height: 71px;
    width: 970px;
    &__logo {
      padding-top: 10px;
      float: left;
      &--num {
        display: inline;
        font-size: 14px;
        font-weight: bold;
        color: #ff9933;
        line-height: 0.8;
        float: left;
        position: absolute;
        top: 60px;
        left: 350px;
      }
      &--num[title="logout"] {
        position: absolute;
        top: 60px;
        left: 445px;
      }
    }
    &__form-cooking {
      // padding-left: 20px;
      margin-left: 10px;
      padding-top: 10px;
      float: left;
      display: inline;
      .cooking_form {
        border-radius: 3px;
        border-color: #d1c6a9;
        // padding: 6px 0 6px 5px;
        height: 29px;
        width: 210px;
      }
      .purpose {
        border-radius: 3px;
        border-color: #d1c6a9;
        height: 29px;
        width: 90px;
      }
      .search-button {
        font-size: 14px;
        width: 86px;
        height: 32px;
        border-style: none;
        line-height: 10px;
        border: 1px solid #cccccc;
        // background-color: buttonface;
        box-sizing: border-box;
        background: linear-gradient(to bottom, #ffffff, #ececec);
        cursor: pointer;
      }
    }
    &__myfolder {
      cursor: pointer;
      width: 65px;
      height: 54px;
      text-align: center;
      float: left;
      padding-top: 12px;
      margin-left: 10px;
      // border: 1px solid yellow;
      &--name {
        font-size: 10px;
      }
    }
    &__mynews {
      cursor: pointer;
      width: 65px;
      height: 54px;
      text-align: center;
      float: left;
      padding-top: 12px;
      // border: 1px solid red;
      &--name {
        font-size: 10px;
      }
    }
    &__write-recipe {
      text-align: center;
      padding-top: 12px;
      float: left;
      width: 100px;
      height: 32px;
      .recipe-button {
        font-weight: bold;
        padding: 0 8px;
        display: inline-block;
        text-decoration: none;
        font-size: 13px;
        // width: 100px;
        // height: 32px;
        border-style: none;
        line-height: 34px;
        border: 1px solid #cccccc;
        // background-color: buttonface;
        box-sizing: border-box;
        background: linear-gradient(to bottom, #ffffff, #ececec);
        cursor: pointer;
        background: linear-gradient(to bottom, #aec853, #8fa836);
        color: #ffffff !important;
      }
    }
  }

  .contents {
    width: 970px;
    margin: 0 auto;
    .mainmenu {
      // border: 1px solid red;
      border: 1px solid #ded5c0;
      height: 100%;
      width: 659px;
      // margin: 0 auto;
      @include clearfix;
      &__left {
        float: left;
        &--recipe {
          margin: 0 auto;
          &--title {
            background-color: #f7f3e8;
            font-size: 14px;
            font-weight: bold;
            width: 169px;
            // padding-left: 10px;
            display: block;
            color: #3c3c3c;
            padding: 5px 0 5px 10px;
            // border: 1px solid red;
          }
          &--services {
            font-size: 15px;
            width: 169px;
            padding-left: 10px;
            background-color: white;
            list-style: none;
            margin: 0px;
            line-height: 35px;
            .detail {
              line-height: 10px;
              text-align: right;
              font-size: 13px;
              padding: 0 8px 8px 0;
              // padding-right: 8px;
            }
          }
        }
      }
      &__today {
        width: 477px;
        height: 343px;
        float: left;
        background-color: white;
        // @include clearfix;
        border: 1px solid #f7f3e8;
        border-radius: 5px;
        &--image {
          .image {
            border-radius: 5px;
          }
          padding: 13px 0 0 13px;
        }
        &--date {
          background: #ff9933;
          width: 100px;
          height: 51px;
          color: white;
          text-align: center;
          margin: 4px 0 0 13px;
          padding: 5px 0 0 0;
          border-radius: 5px;
          float: left;
          .tiny {
            font-size: 13px;
            display: block;
          }
        }
        &--recipe {
          float: left;
          width: 330px;
          height: 52px;
          margin: 4px 0 0 10px;
          .title {
            color: #889b00;
            font-weight: bold;
            font-size: 18px;
          }
          .name {
            display: block;
            font-size: 12px;
            padding-left: 25px;
          }
        }
      }
    }
    .recipe {
      margin-top: 10px;
      height: 100%;
      width: 659px;
      border: 1px solid red;
      border-radius: 5px;
      border-top: 8px solid #889b00;
      &__header {
        background-color: white;
        padding: 10px 0 10px 10px;
        &--image {
          float: left;
        }
        &--title {
          color: #889b00;
          font-size: 22px;
        }
      }
      &__category {
        &--title {
          font-weight: bold;
          font-size: 14px;
          color: #3c3c3c;
          background-color: #f7f3e8;
          padding: 5px 0 5px 10px;
        }
        &--list {
          height: 100%;
          width: 659px;
          background-color: white;
          &--topic {
            @include clearfix;
            height: 125px;
            padding-top: 10px;
            &--left {
              float: left;
              width: 324px;
              &--image {
                float: left;
                padding: 10px 0 0 15px;
                .category-image {
                  border-radius: 5px;
                }
              }
              &--title {
                float: left;
                width: 204px;
                color: #845f4b;
                font-size: 18px;
                font-weight: bold;
                padding: 10px 0 0 7px;
              }
              &--body {
                float: left;
                padding: 3px 0 0 7px;
                font-size: 12px;
                color: #999999;
              }
            }
            &--right {
              float: left;
              width: 324px;
              &--image {
                float: left;
                padding: 10px 0 0 10px;
                .category-image {
                  border-radius: 5px;
                }
              }
              &--title {
                float: left;
                width: 204px;
                color: #845f4b;
                font-size: 18px;
                font-weight: bold;
                padding: 10px 0 0 7px;
              }
              &--body {
                float: left;
                padding: 3px 0 0 7px;
                font-size: 12px;
                color: #999999;
              }
            }
          }
          &--type {
            &--first {
              padding-left: 10px;
              display: flex;
              &--one {
                // border: 1px solid blue;
                width: 208px;
                height: 89px;
                list-style: none;
                &--title {
                  float: left;
                  width: 150px;
                  padding-left: 5px;
                }
                &--image {
                  float: left;
                }
                &--detail {
                  float: left;
                  display:table;
                  padding-left: 20px;
                  font-size: 12px;
                  &--l1 {
                    padding-top: 5px;
                  }
                }
                &--title {
                  font-weight: bold;
                  // border: 1px solid red;
                }
              }
            }
          }
          &--detail {
            display: block;
            text-align: right;
            font-size: 13px;
            font-weight: bold;
            padding: 0 10px 10px 0;
          }
        }
      }
    }
    .recipe-main {
      margin-bottom: 60px;
      width: 650px;
      // height: 800px;
      height: 100%;
      background-color: white;
      float: left;
      border-radius: 5px;
      border: 1px solid #ded5c0;
      box-sizing: border-box;
      &__top {
        padding-left: 20px;
        width: 608px;
        height: 500px;
        &--link {
          padding-top: 10px;
          height: 21px;
          width: 608px;
          .user-name {
            float: left;
            color: #845f4b;
            font-size: 15px;
            text-decoration: underline;
            cursor: pointer;
          }
          .delete {
            float: right;
            color: #999999;
            font-size: 15px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
        &--title {
          margin-top: 10px;
          clear: both;
          width: 480px;
          height: 34px;
          color: #889b00;
          font-size: 20px;
          line-height: 32px;
          padding-left: 5px;
          .title-edit {
            line-height: 4px;
          }
          .title-form {
            line-height: 4px;
            width: 259px;
            height: 26px;
            background: #ffffd3;
            font-size: 14px;
          }
          #str-count {
            margin:0;
            padding: 0;
            color: #666;
            font-size: 10px;
          }
          #cancel {
            color: #330000;
            font-size: 14px;
            cursor: pointer;
            text-decoration: underline;
          }
        }
        &--image {
          margin-top: 10px;
          width: 280px;
          height: 383px;
          // background-color: green;
          float: left;
          cursor: pointer;
          .image-upload {
            display: none;
          }
        }
        &--right {
          margin-top: 10px;
          width: 310px;
          height: 360px;
          float: right;
          .catch-copy {
            width: 310px;
            height: 44px;
            line-height: 18px;
            span {
              color: #999999;
              font-size: 12px;
            }
            .title-edit {
              line-height: 4px;
            }
            .catchcopy-form {
              line-height: 18px;
              width: 295px;
              height: 60px;
              background: #ffffd3;
              font-size: 14px;
            }
            #recipe-catchcopy-text {
              font-size: 14px;
              color: #3c3c3c;
              word-wrap: break-word;
            }
            #str-count {
              margin:0;
              padding: 0;
              color: #666;
              font-size: 10px;
            }
            #cancel {
              color: #330000;
              font-size: 14px;
              cursor: pointer;
              text-decoration: underline;
            }
          }
          // .catch-copy:hover {
          //   background-color: #ffff99;
          // }
          .author {
            width: 310px;
            height: 27px;
            text-align: right;
            span {
              cursor: pointer;
              color: #845f4b;
              font-size: 15px;
              text-decoration: underline;
            }
          }
          .material {
            width: 310px;
            height: 217px;
            cursor: pointer;
            .material-header {
              width: 300px;
              height: 34px;
              color: #E0D7C1;
              font-size: 20px;
              font-weight: bold;
              border-bottom: 1px solid #E5E5E5;
            }
            .material-people {
              font-size: 14px;
              color: #4c4c4c;
              font-weight: normal;
              padding-left: 5px;
            }
            .material-one {
              border-bottom: 1px solid #E5E5E5;
              clear: both;
              .material-left {
                float: left;
                color: #4C4C4C;
                font-size: 15px;
                // text-align: left;
                line-height: 26px;
                padding-left: 5px;
              }
              .material-right {
                float: right;
                color: #4C4C4C;
                font-size: 15px;
                line-height: 26px;
                // text-align: right;
              }
            }
          }
        }
      }
      // &__cooking-method {
      //   margin: 0 auto;
      //   width: 608px;
      //   height: 125px;
      // }
      &__cooking-method {
        margin: 0 auto;
        width: 608px;
        height: 100%;
        .all-method {
          margin:0px;
          height: 100%;
          padding:0px;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          li {
            width: 137px;
            // height: 125px;
            height: 100%;
            list-style: none;
            .header {
              width: 136px;
              height: 27px;
              line-height: 25px;
              .num {
                float: left;
                color: #E0D7C1;
                font-weight: bold;
                font-size: 18px;
              }
              .left, .right {
                padding-left: 5px;
                float: left;
                color: #999;
                font-size: 12px;
                text-decoration: underline;
                cursor: pointer;
              }
              .delete, .add {
                padding-left: 5px;
                float:right;
                color: #999;
                font-size: 12px;
                text-align: right;
                text-decoration: underline;
                cursor: pointer;
              }
            }
            .image {
              width: 136px;
              // height: 27px;
              height: 100%;
              color: #999;
              font-size: 12px;
              .method-image-upload {
                display: none;
              }
            }
            .method {
              width: 136px;
              // height: 27px;
              height: 100%;
              color: #999;
              font-size: 12px;
              // line-height: 8px;
              .cooking_method-form {
                height: 100px;
                width: 130px;
                background: #ffffd3;
                font-size: 14px;
              }
              #str-count {
                margin:0;
                padding: 0;
                color: #666;
                font-size: 10px;
              }
              #cancel {
                color: #330000;
                font-size: 14px;
                cursor: pointer;
                text-decoration: underline;
              }
              #recipe-method-text {
                color: black;
                font-size: 14px;
                word-wrap: break-word;
              }
            }
          }
        }
      }
      &__memo {
        margin: 0 auto;
        width: 608px;
        // height: 143px;
        height: 100%;
        line-height: 4px;
        .point {
          height: 100%;
          float: left;
          width: 300px;
          line-height: 12px;
          h3 {
            color: #E0D7C1;
            font-weight: bold;
            font-size: 18px;
          }
          span {
            color: #999;
            font-size: 12px;
            width: 270px;
          }
          .title-edit {
            line-height: 4px;
          }
          .point-form {
            line-height: 18px;
            width: 270px;
            height: 130px;
            background: #ffffd3;
            font-size: 14px;
          }
          #recipe-point[title="add"] {
            font-size: 14px;
            color: #3c3c3c;
            width: 270px;
            word-wrap: break-word;
          }
          #recipe-point[title="add"]:hover {
            background-color: #ffff99;
          }
          #str-count {
            margin:0;
            padding: 0;
            color: #666;
            font-size: 10px;
          }
          #cancel {
            color: #330000;
            font-size: 14px;
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .background {
          float: left;
          width: 288px;
          line-height: 4px;
          h3 {
            color: #E0D7C1;
            font-weight: bold;
            font-size: 18px;
          }
          span {
            line-height: 13px;
            display:block;
            color: #999;
            font-size: 12px;
          }
          .title-edit {
            line-height: 4px;
          }
          .background-form {
            line-height: 18px;
            width: 280px;
            height: 130px;
            background: #ffffd3;
            font-size: 14px;
          }
          .recipe-background[title="add"] {
            font-size: 14px;
            color: #3c3c3c;
            width: 270px;
            word-wrap: break-word;
            line-height: 14px;
          }
          .recipe-background[title="add"]:hover {
            background-color: #ffff99;
          }
          #str-count {
            margin:0;
            padding: 0;
            color: #666;
            font-size: 10px;
          }
          #cancel {
            color: #330000;
            font-size: 14px;
            cursor: pointer;
            text-decoration: underline;
          }
          #str-limit, #cancel {
            display: inline;
          }
        }
      }
      &__id-date {
        clear: both;
        margin: 0 auto;
        width: 608px;
        height: 100%;
        text-align: right;
        span {
          color: #999999;
          font-size: 11px;
          padding-left: 5px;
        }
      }
    }
    .right-contents {
      margin-left: 20px;
      width: 300px;
      height: 700px;
      float: left;
      .writing-method {
        border-radius: 5px;
        width: 300px;
        height: 263px;
        border: 1px solid #ded5c0;
        .title {
          width: 300px;
          height: 30px;
          background: #efe1be;
          line-height: 30px;
          .left {
            float: left;
            span {
              padding-left: 10px;
              font-size: 12px;
              font-weight: bold;
            }
          }
          .right {
            float: right;
            cursor: pointer;
            span {
              padding-right: 10px;
              font-size: 11px;
              text-decoration: underline;
              font-weight: bold;
            }
          }
        }
        .table {
          background-color: white;
          clear: both;
          width: 300px;
          overflow: hidden;
          height: auto;
          .method {
            width: 300px;
            height: auto;
            border-collapse: collapse;
            border-spacing: 0;
            tr {
              border-bottom: 1px solid #ded5c0;
              overflow: hidden;
            }
            td, th {
              // border-bottom: 1px solid #ded5c0;
              cursor: pointer;
            }
            td {
              font-size: 14px;
              line-height: 30px;
            }
            th {
              vertical-align: top;
              padding-top: 5px;
            }
            .description {
              display: block;
              box-sizing: border-box;
              position: relative;
              left: -28px;
              background: #fffdef;
              width: 293px;
              // height: 60px;
              margin-bottom: 2px;
              color: #666666;
              padding: 10px;
              line-height: 20px;
            }
            .asterisk {
              font-size: 11px;
              line-height: 15px;
            }
            .last {
              border-bottom: none;
            }
          }
        }
      }
      .release {
        margin-top: 20px;
        width: 300px;
        height: 170px;
        background: #f5f5f5;
        border: 1px solid #e5e5e5;
        .tag {
          width: 276px;
          height: 61px;
          background-color: white;
          margin: 20px auto 0 auto;
          .new-tag {
            text-align: center;
            span {
              color: #bababa;
              font-size: 12px;
            }
          }
        }
        .button {
          margin: 0px auto;
          padding-top: 20px;
          width: 160px;
          .release-button {
            font-size: 14px;
            height: 42px;
            width: 160px;
            border-style: none;
            line-height: 10px;
            border: 1px solid #cccccc;
            // background-color: buttonface;
            box-sizing: border-box;
            cursor: pointer;
            background: linear-gradient(to bottom, #ff8215, #e05a00);
            color: #ffffff !important;
            font-size: 16px;
            border-radius: 5px;
          }
        }
      }
    }
  }


  .footer {
    // border: 1px solid blue;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, sans-serif;
    line-height: 1.5;
    color: #3c3c3c;
    display: flex;
    justify-content: space-between;
    width: 970px;
    margin: 25px auto 0 auto;
    padding: 0 0 20px 0;
    text-align: left;
    background-color: #f7f3e8;
    h5 { margin:0; }
    ul {
      margin:0px;
      padding:0px;
      margin-bottom: 20px;
      li {
        font-size: 12.04px;
        list-style: none;
        line-height: 18.06px;
        // margin: 0;
        // padding: 0;
        // list-style-position:outside;
      }
    }
    &__search-recipe {
      // padding-left: 10px;
    }
    &__write-recipe-kondate {
    }
    &__cooking-class {
      // display: table-cell;
    }
    &__recommended-premium {
      // float: left;
      // display: table-cell;
    }
    &__my-page-life {
      // padding-right: 10px;
    }
  }

  .copyright {
    width: 970px;
    margin: 0 auto;
    h5 { margin:0; }
    ul {
      margin: 0px;
      padding: 0px;
      li {
        font-size: 12.04px;
        list-style: none;
        line-height: 18.06px;
        display: inline-block;
        // margin: 0;
        // padding: 0;
        // list-style-position:outside;
      }
    }
    &__sentence {
      font-size: 80%;
    }
  }
}

.covered[title="logout"] {
  width: 100%;
}

.sidebar {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, sans-serif;
  float: right;
  width: 190px;
  height: 100%;
  border-bottom: 1px solid #e3dcca;
  &__title {
    padding: 3px 5px 0px;
    text-align: left;
    margin: 0;
    background: #efe1be;
    height: 23px;
    font-weight: bold;
    font-size: 13px;
  }
}

#login {
  clear: both;
  width: 360px;
  height: 420px;
  background: #f7f3e8;
  border: 1px solid blue;
  position:fixed;
  z-index: 2;
  display:none;
  border: 5px solid #e3dcca;
  border-radius: 5px;
  .covered {
    margin: 0 15px;
    padding: 0;
    width: 330px;
    height: 100%;
    h4 {
      border-bottom: 1px solid #D6D7B9;
    }
    .field {
      margin: 0 25px;
      width: 280px;
    }
    #user_email {
      width: 280px;
      height: 22px;
    }
    #user_password {
      width: 280px;
      height: 22px;
    }
    .actions {
      margin: 20px auto;
      width: 280px;
      .button {
        line-height: 20px;
        font-size: 16px;
        font-family: inherit;
        cursor: pointer;
        font-weight: bold;
        display: block;
        height: 42px;
        width: 280px;
        background-color: white;
        border-radius: 5px;
      }
    }
    .pass {
      cursor: pointer;
      text-decoration: underline;
      font-size: 12px;
      margin: 20px auto 0 auto;
      width: 280px;
    }
    .registration {
      margin: 0px auto;
      width: 280px;
      .registration-button {
        font-size: 14px;
        height: 42px;
        width: 280px;
        border-style: none;
        line-height: 10px;
        border: 1px solid #cccccc;
        // background-color: buttonface;
        box-sizing: border-box;
        cursor: pointer;
        background: linear-gradient(to bottom, #ff8215, #e05a00);
        color: #ffffff !important;
        font-size: 16px;
        border-radius: 5px;
      }
    }
  }
}

#setting {
  clear: both;
  width: 112px;
  height: 105px;
  background-color: white;
  position:fixed;
  z-index: 1;
  display:none;
  left: 1000px;
  top: 35px;
  .my-page {
    width: 90px;
    height: 31px;
  }
  .logout {
    width: 90px;
    height: 31px;
  }
}

#material-setting {
  clear: both;
  width: 460px;
  height: 540px;
  background: white;
  border: 1px solid blue;
  position:fixed;
  z-index: 2;
  display:none;
  border: 5px solid #e3dcca;
  border-radius: 5px;
  overflow: scroll;
  .covered {
    padding: 10px;
    background-color: white;
  }
  .number {
    color: #999;
    width: 360px;
    height: 100%;
  }
  .left {
    float: left;
    padding-right: 5px;
  }
  .number_people {
    float: left;
    padding-left: 5px;
    height: 27spx;
    width: 100px;
    font-size: 16px;
    margin-top: 8px;
    border-radius: 3px;
  }
  .example {
    font-size: 12px;
  }
  span {
    line-height: 40px;
    padding-left: 5px;
  }
  .header {
    width: 360px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #633;
    line-height: 28px;
    margin-top: 5px;
    &__material {
      width: 190px;
      height: 26px;
      float: left;
      background: #f7f3e8;
      border-radius: 5px;
      margin: 5px 0 0 30px;
    }
    &__quantity {
      width: 135px;
      height: 26px;
      float: left;
      background: #f7f3e8;
      border-radius: 5px;
      margin: 5px 0 0 5px;
    }
  }
  .all-material {
    margin: 0;
    padding: 0;
  }
  .one-material {
    margin: 10px 0 0 0px;
    padding-top: 10px;
    clear: both;
    width: 400px;
    list-style: none;
    li {
      list-style: none;
    }
    .up_down {
      margin-top: 5px;
      float: left;
      cursor: move;
    }
    .material_form {
      line-height: 26px;
      margin-left: 5px;
      float: left;
      height: 27spx;
      width: 185px;
      font-size: 15px;
      border-radius: 3px;
      background-color: #fffdef;
    }
    .quantity_form {
      line-height: 26px;
      margin-left: 5px;
      float: left;
      height: 27spx;
      width: 130px;
      font-size: 15px;
      border-radius: 3px;
    }
    .batsu {
      margin-top: 7px;
      margin-left: 5px;
      float: left;
      cursor: pointer;
    }
  }
  .add-line {
    padding: 10px 0 0 30px;
    clear: both;
    width: 122px;
    height: 32px;
    .add-line-button {
      width: 90px;
      height: 28px;
      font-size: 11px;
      border: 1px solid #c4c4c4;
      border-radius: 3px;
      background: linear-gradient(to bottom, #f7f7f7, #e4e4e4);
      color: #3c3c3c;
    }
  }
  .material-footer {
    margin-top: 10px;
    border-top: solid 1px #faf3e3;
    width: 430px;
    height: 120px;
    &__save {
      margin-top: 10px;
      width: 430px;
      height: 47px;
      text-align: center;
      .save-button {
        width: 116px;
        height: 34px;
        font-size: 11px;
        border: 1px solid #c4c4c4;
        border-radius: 3px;
        background: linear-gradient(to bottom, #f7f7f7, #e4e4e4);
        color: #3c3c3c;
        font-weight: bold;
      }
    }
    &__advise {
      color: #ff9933;
      width: 430px;
      height: 54px;
      background-color: #fffdef;
      text-align: center;
      font-size: 16px;
      padding: 5px;
      border-radius: 5px;
      margin: 10px auto 5px;
      border: 1px solid #ebe6d0;
    }
  }
}

