h2 {
  font-size: 20px;
  border-bottom: 1px solid #e3dcca;
}

.registration-content {
  width: 970px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  border: 1px solid red;
  background-color: white;
  .info {
    font-size: 13px;
    display: block;
    margin-bottom: -40px;
  }
  .user-info {
    border-collapse: collapse;
    border-spacing: 0;
    .field {
      background: #faf9f4;
      height: 76px;
      width: 146px;
      th {
        border-bottom: 1px solid #e3dcca;
      }
      td {
        padding-left: 10px;
        box-sizing: border-box;
        background-color: white;
        width: 484px;
        height: 76px;
        border-top: 1px solid #e3dcca;
        border-bottom: 1px solid #e3dcca;
        .text {
          border-radius: 5px;
          background: url(/assets/shared/input_back.png?f31edb52fe3aae606c6ec53a6b71c104b5e45e0e8e599b9c9cc48ddef2bf9b2d) no-repeat;
          width: 260px;
          height: 35px;
        }
      }
    }
  }
  .actions {
    margin: 20px auto;
    width: 280px;
    .registration-button {
      font-size: 14px;
      height: 42px;
      width: 280px;
      border-style: none;
      line-height: 10px;
      border: 1px solid #cccccc;
      // background-color: buttonface;
      box-sizing: border-box;
      cursor: pointer;
      background: linear-gradient(to bottom, #ff8215, #e05a00);
      color: #ffffff !important;
      font-size: 16px;
      border-radius: 5px;
    }
  }
}

.mypage {
  width:700px;
  height: 100%;
  background-color: white;
  margin-left: 140px;
  .header {
    margin: 0 auto;
    width: 650px;
    height: 30px;
    border-bottom: 1px solid #D6D7B9;
    padding-top: 20px;
    .left {
      color: #2F1C12;
      font-weight: bold;
      float: left;
      font-size: 20px;
    }
    .right {
      font-size: 12px;
      color: #666;
      float: right;
      padding-top: 5px;
    }
  }
  .user-info {
    clear: both;
    margin: 15px auto 0 auto;
    width: 650px;
    height: 200px;
    .icon {
      float: left;
    }
    .info-edit {
      float: left;
      margin-left: 10px;
      .upper {
        width: 500px;
        height: 18px;
        .name {
          font-weight: bold;
          font-size: 19px;
        }
        .change {
          font-size: 12px;
          color: #845f4b;
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .lower {
        width: 500px;
        height: 18px;
        color: #666;
        margin:0;
        .kitchen {
          font-size: 13px;
        }
        .user-kitchen {
          font-size: 15px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .edit-footer {
      clear: both;
      display: block;
      width:650px;
      height: 20px;
      background-color: white;
      .icon-change {
        width: 70px;
        font-size: 12px;
        color: #845f4b;
        text-decoration: underline;
        cursor: pointer;
      }
      .registration-date {
        width: 100px;
        font-size: 12px;
        margin-left: 5px;
        color: #666;
      }
      .reset-date {
        width: 100px;
        font-size: 12px;
        margin-left: 10px;
        color: #666;
      }
    }
  }
  .user-recipes {
  width:700px;
  height: 100%;
  background-color: white;
  @include clearfix;
  .kitchen-left {
    float:left;
    .title {
      width: 150px;
      margin-left: 25px;
      color: #C1C1A6;
      border-bottom: 1px solid
    }
    .kitchen-category {
      color: #845f4b;
      margin:0 0 0 25px;
      padding: 0;
      list-style: none;
      .category-name {
        color: #845f4b;
        font-size: 14px;
        font-weight: bold;
      }
      .count {
        color: #999;
        font-size: 12px;
      }
    }
  }
  .kitchen-right {
    float: left;
    // background-color: red;
    width: 470px;
    height: 100%;
    .recipe-show {
      clear: both;
      padding-top: 10px;
      margin-left: 15px;
      .recipe-image {
        float: left;
        width: 100px;
        height: 141px;
        padding-bottom: 20px;
        // overflow: hidden;
        position: relative;
        .cookImage {
          width: 100px;
          height: 141px;
          object-fit: cover;
        }
      }
      .recipe-text {
        padding: 5px 0 0 10px;
        float: left;
        width: 330px;
        height: 100%;
        .recipe-title {
          color: #889b00;
          font-weight: bold;
          font-size: 18px;
          text-decoration: underline;
        }
        .recipe-catchcopy {
          color: #808080;
          // clear: both;
        }
        .recipe-material {
          color: #cfaa80;
          font-size: 12px;
        }
      }
    }
  }
}
}

.edit-username {
  width: 650px;
  height: 295px;
  margin-left: 140px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e3dcca;
  padding: 10px 0 0 20px;
  .header {
    font-weight: bold;
    font-size: 20px;
    color: #4d2200;
    // padding-left: 10px;
  }
  .attention {
    font-size: 12px;
    color: #666;
  }
  .current {
    width: 213px;
    height: 34px;
    background: #eee5cc;
    font-size: 15px;
    text-align: left;
    padding-left: 5px;
  }
  .current-name {
    width: 396px;
    height: 34px;
    padding-left: 5px;
  }
  .new {
    width: 213px;
    height: 64px;
    background: #eee5cc;
    font-size: 15px;
    text-align: left;
    padding-left: 5px;
  }
  .new-name {
    width: 396px;
    height: 64px;
    padding-left: 5px;
    span {
      color: #999999;
      font-size: 13px;
      margin: 0;
      padding: 0;
    }
    .name_form {
      width: 330px;
      height: 30px;
      box-shadow: inset 1px 1px 4px #e6e6e6;
      border-radius: 3px;
      box-sizing: border-box;
      border: 1px solid #cccccc;
      font-size: 16px;
    }
  }
  th, td {
    border: 1px solid #e3dcca;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .rename-button {
    width: 650px;
    height: 60px;
    text-align: center;
    // vertical-align: middle;
    margin: 40px auto 0 auto;
    .change-name-button {
      cursor: pointer;
      // color: #3c3c3c;
      color: #999999;
      border: 1px solid #c4c4c4;
      // background: linear-gradient(to bottom, #f7f7f7, #e4e4e4);
      background-color: #ececec;
      border-radius: 5px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      font-weight: bold;
      font-size: 16px;
      line-height: 35px;
    }
  }
  .rename-footer {
    width: 650px;
    text-align: center;
    maegin: 0 auto;
    span {
      color: #845f4b;
      font-size: 13px;
    }
  }
}







